<settings>
  <category label="Settings">
    <setting id="use_cache" type="bool" label="Use Cache" visible="true" default="true" />
    <setting id="time_cache" type="number" label="[COLOR khaki]    Cache Update Interval [I][COLOR white](minutes)[/I][/COLOR]" subsetting="true" visible="eq(-1,true)" option="int" default="60" />
    <setting id="clear_cache" type="action" label="[COLOR khaki]    Clear Cache [/COLOR]" subsetting="true" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/clear_cache)" />
    <setting id="scraper.module" type="text" label="Selected Scraper Module" visible="false" default="" />
    <setting id="scraper.name" type="text" label="Selected Scraper Name" visible="false" default="" />
    <setting id="choose.scraper" subsetting="false" type="action" label="[COLOR lawngreen]Choose Scraper Module[/COLOR]" option="close" action="PlayMedia(plugin://$ID/choose_scraper)" />
    <setting id="open.Osettings" subsetting="false" type="action" label="[COLOR deepskyblue]Open Scraper Settings[/COLOR]" option="close" action="PlayMedia(plugin://$ID/open_scraper_settings)" />
    <setting id="results.timeout" type="number" label="[COLOR khaki]Scraper Timeout [I][COLOR white](seconds)[/I][/COLOR]" option="int" default="12" />
  </category>
  <category label="TMDB">
    <setting id="tmdb.authorize" type="action" label="[COLOR lawngreen]Authorize TMDb Account[/COLOR]" option="close" action="PlayMedia(plugin://$ID/tmdb_auth)" />
    <setting id="tmdb.revoke" type="action" label="[COLOR red]Revoke TMDb Account Authorization[/COLOR]" option="close" action="PlayMedia(plugin://$ID/tmdb_revoke)" />
    <setting id="tmdb.token" type="text" label="TMDb Token" visible="false" default="" />
    <setting id="tmdb.account_id" type="text" label="TMDb Account ID" visible="false" default="" />
    <setting id="tmdb.username" type="text" label="TMDb Username" visible="false" default="" />
    <setting id="tmdb.session_id" type="text" label="TMDb Session ID" visible="false" default="" />
    <setting id="tmdb.account_session_id" type="text" label="TMDb Account Session ID" visible="false" default="" />
    <setting id="lsep.tmdb.2" type="lsep" label="" />
    <setting id="items_per_page" label="[B][COLOR white]Items Per Page For TMDB Lists[/COLOR][/B]" type="enum" values="20|40|60|80|100" />
    <setting id="full_meta" type="bool" label="[B][COLOR white]Enable Full Meta For TMDB Lists[/COLOR][/B]" visible="true" default="true" />
    <setting id="item_meta" type="bool" label="[COLOR khaki]    Fetch Metadata For Manually Made Lists [I][COLOR white](Slow Loading)[/I][/COLOR]" subsetting="true" visible="eq(-1,true)" default="false" />
    <setting id="lsep.tmdb.3" type="lsep" label="" />
    <setting id="tmdbsort.watchlist" type="enum" label="[B][COLOR white]Watchlist Sort Order[/COLOR][/B]" values="Title|Release Date (Asc)|Release Date (Desc)|Date Added (Asc)|Date Added (Desc)" default="4" />
    <setting id="tmdbsort.favorites" type="enum" label="[B][COLOR white]Favorites Sort Order[/COLOR][/B]" values="Title|Release Date (Asc)|Release Date (Desc)|Date Added (Asc)|Date Added (Desc)" default="4" />
  </category>
  <category label="Trakt">
    <setting id="trakt.authorize" type="action" label="[COLOR lawngreen]Authorize Trakt Account[/COLOR]" option="close" action="PlayMedia(plugin://$ID/trakt/authorize)" />
    <setting id="trakt.clear" type="action" label="[COLOR red]Revoke Trakt Authorization[/COLOR]" option="close" action="PlayMedia(plugin://$ID/trakt/clear)" />
    <setting id="trakt.access_token" type="text" label="Access Token" visible="false" default="" />
    <setting id="trakt.refresh_token" type="text" label="Refresh Token" visible="false" default="" />
    <setting id="trakt.user_id" type="text" label="User ID" visible="false" default="" />
    <setting id="trakt.expires" type="text" label="Token Expires" visible="false" default="0" />
    <setting id="lsep.trakt.2" type="lsep" label="" />
    <setting id="watched_indicators" type="enum" label="[B][COLOR white]Watched Indicators[/COLOR][/B]" values="The Archives|Trakt" default="0" />
    <setting id="lsep.trakt.3" type="lsep" label="" />
    <setting id="trakt.sync_interval" type="number" label="[B][COLOR white]Sync Interval [I][COLOR khaki](minutes)[/I][/COLOR][/B]" option="int" default="60" />
    <setting id="trakt.refresh_widgets" type="bool" label="[B][COLOR white]Refresh Widgets on Sync[/COLOR][/B]" default="true" />
    <setting id="lsep.trakt.4" type="lsep" label="" />
    <setting id="trakt.calendar_sort_order" type="enum" label="[B][COLOR white]Calendar Sort Order[/COLOR][/B]" values="Descending|Ascending" default="0" />
    <setting id="trakt.calendar_previous_days" type="number" label="[COLOR khaki]    Previous Days[/COLOR]" option="int" default="7" />
    <setting id="trakt.calendar_future_days" type="number" label="[COLOR khaki]    Future Days[/COLOR]" option="int" default="7" />
    <setting id="lsep.trakt.5" type="lsep" label="" />
    <setting id="trakt.flatten_episodes" type="bool" label="[B][COLOR white]Flatten Episodes[/COLOR][/B]" default="false" />
  </category>
  <category label="Sources Accounts">
    <setting id="provider.external" type="bool" label="[B][COLOR white]EXTERNAL SCRAPER[/COLOR][/B]" default="true" />
    <setting id="external.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-1,true)" option="int" default="10" />
    <setting id="lsep.1" type="lsep" label="" />
    <setting id="rd.enabled" type="bool" label="[B][COLOR white]REAL-DEBRID[/COLOR][/B]" default="false" />
    <setting id="rd.authorize" type="action" subsetting="true" label="[COLOR lawngreen]    Authorize[/COLOR]" visible="eq(-1,true)" option="close" action="PlayMedia(plugin://$ID/auth_service/rd)" />
    <setting id="rd.revoke" type="action" subsetting="true" label="[COLOR red]    Revoke Authorization[/COLOR]" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/revoke_service/rd)" />
    <setting id="rd.token" type="text" label="Token" visible="false" default="" />
    <setting id="rd.client_id" type="text" label="Client ID" visible="false" default="" />
    <setting id="rd.secret" type="text" label="Client Secret" visible="false" default="" />
    <setting id="rd.refresh" type="text" label="Refresh Token" visible="false" default="" />
    <setting id="rd.alternate_api" type="bool" label="[COLOR khaki]    Alternate API Host[/COLOR]" subsetting="true" visible="eq(-7,true)" default="false" />
    <setting id="provider.rd_cloud" type="bool" label="[COLOR khaki]    Enable Cloud Scraping[/COLOR]" subsetting="true" visible="eq(-8,true)" default="false" />
    <setting id="rd.cached_only" type="bool" label="[COLOR khaki]    Cached Torrents Only[/COLOR]" subsetting="true" visible="eq(-9,true)" default="false" />
    <setting id="rd.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-10,true)" option="int" default="10" />
    <setting id="lsep.2" type="lsep" label="" />
    <setting id="pm.enabled" type="bool" label="[B][COLOR white]PREMIUMIZE[/COLOR][/B]" default="false" />
    <setting id="pm.authorize" type="action" subsetting="true" label="[COLOR lawngreen]    Authorize[/COLOR]" visible="eq(-1,true)" option="close" action="PlayMedia(plugin://$ID/auth_service/pm)" />
    <setting id="pm.revoke" type="action" subsetting="true" label="[COLOR red]    Revoke Authorization[/COLOR]" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/revoke_service/pm)" />
    <setting id="pm.token" type="text" label="Token" visible="false" default="" />
    <setting id="pm.client_id" type="text" label="[COLOR khaki]    OAuth Client ID[/COLOR]" subsetting="true" visible="eq(-4,true)" default="" />
    <setting id="provider.pm_cloud" type="bool" label="[COLOR khaki]    Enable Cloud Scraping[/COLOR]" subsetting="true" visible="eq(-5,true)" default="false" />
    <setting id="pm.cached_only" type="bool" label="[COLOR khaki]    Cached Torrents Only[/COLOR]" subsetting="true" visible="eq(-6,true)" default="true" />
    <setting id="pm.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-7,true)" option="int" default="10" />
    <setting id="lsep.3" type="lsep" label="" />
    <setting id="ad.enabled" type="bool" label="[B][COLOR white]ALL-DEBRID[/COLOR][/B]" default="false" />
    <setting id="ad.authorize" type="action" subsetting="true" label="[COLOR lawngreen]    Authorize[/COLOR]" visible="eq(-1,true)" option="close" action="PlayMedia(plugin://$ID/auth_service/ad)" />
    <setting id="ad.revoke" type="action" subsetting="true" label="[COLOR red]    Revoke Authorization[/COLOR]" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/revoke_service/ad)" />
    <setting id="ad.token" type="text" label="Token" visible="false" default="" />
    <setting id="provider.ad_cloud" type="bool" label="[COLOR khaki]    Enable Cloud Scraping[/COLOR]" subsetting="true" visible="eq(-4,true)" default="false" />
    <setting id="ad.cached_only" type="bool" label="[COLOR khaki]    Cached Torrents Only[/COLOR]" subsetting="true" visible="eq(-5,true)" default="false" />
    <setting id="ad.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-6,true)" option="int" default="10" />
    <setting id="lsep.4" type="lsep" label="" />
    <setting id="tb.enabled" type="bool" label="[B][COLOR white]TORBOX[/COLOR][/B]" default="false" />
    <setting id="tb.authorize" type="action" subsetting="true" label="[COLOR lawngreen]    Authorize[/COLOR]" visible="eq(-1,true)" option="close" action="PlayMedia(plugin://$ID/auth_service/tb)" />
    <setting id="tb.revoke" type="action" subsetting="true" label="[COLOR red]    Revoke Authorization[/COLOR]" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/revoke_service/tb)" />
    <setting id="tb.token" type="text" label="Token" visible="false" default="" />
    <setting id="provider.tb_cloud" type="bool" label="[COLOR khaki]    Enable Cloud Scraping[/COLOR]" subsetting="true" visible="eq(-4,true)" default="false" />
    <setting id="tb.cached_only" type="bool" label="[COLOR khaki]    Cached Torrents Only[/COLOR]" subsetting="true" visible="eq(-5,true)" default="false" />
    <setting id="tb.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-6,true)" option="int" default="10" />
    <setting id="lsep.5" type="lsep" label="" />
    <setting id="provider.easynews" type="bool" label="[B][COLOR white]EASYNEWS[/COLOR][/B]" default="false" />
    <setting id="easynews.username" type="text" label="[COLOR khaki]    Username[/COLOR]" subsetting="true" visible="eq(-1,true)" default="" />
    <setting id="easynews.password" type="text" label="[COLOR khaki]    Password[/COLOR]" subsetting="true" visible="eq(-2,true)" option="hidden" default="" />
    <setting id="en.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-3,true)" option="int" default="7" />
    <setting id="lsep.7" type="lsep" label="" />
    <setting id="provider.folders" type="bool" label="[B][COLOR white]LOCAL MEDIA FOLDERS[/COLOR][/B]" default="false" />
    <setting id="folders.movie_folder" type="folder" label="[COLOR khaki]    Movie Folder[/COLOR]" subsetting="true" visible="eq(-1,true)" default="" />
    <setting id="folders.tv_folder" type="folder" label="[COLOR khaki]    TV Show Folder[/COLOR]" subsetting="true" visible="eq(-2,true)" default="" />
    <setting id="folders.priority" type="number" label="[COLOR khaki]    Priority [I][COLOR white](Lower Number = Higher Priority)[/I][/COLOR]" subsetting="true" visible="eq(-3,true)" option="int" default="6" />
  </category>
  <category label="Home Page">
    <setting id="root_xml" type="text" label="Root XML Location" default="file://main.json" visible="true" />
    <setting id="message_xml_url" type="text" label="News File Location" default="file://news.xml" visible="true" />
  </category>
  <category label="Dev Mode">
    <setting id="debug" type="bool" label="Enable Debugging Mode" default="false" visible="true" />
  </category>
</settings>
